@model Tuple<List<Entities.Message>, List<HubCallerContext>>
@using Animal.Web.MediaComponents;
@using Microsoft.AspNetCore.SignalR;

<style>
    #sidebar {
        left: 0;
        width: 160px;
        transition: left 0.5s ease-in-out;
    }

    #sidebar.hidden {
        left: -160px;
    }
</style>

<div id="sidebar" class="position-absolute hidden">
    <ul>
        <li id="offline" @(Model.Item2.Count != 0 ? "hidden" : "")>NO USERS ONLINE</li>

        @foreach (var item in Model.Item2)
        {
            <li id="@item.Items["username"]user">
                <a class="nav-link text-dark">@item.Items["username"]</a>
            </li>
        }
    </ul>
</div>

<button class="border-0 rounded d-flex fw-bold" style="background-color: #f2f2f2; padding: 10px 15px;" onclick="document.querySelector('#sidebar').classList.toggle('hidden');">
    USERS
</button>


<div>
    @Html.SingleStringInput("userMessage")

    <input type="button" id="sendButton" value="send message">

    <hr />

    <ul id="messagesList">
        @foreach (var item in Model.Item1)
        {
            <li>@item.senderName: @item.text</li>
        }
    </ul>
</div>

<script src="~/js/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>