@model ViewModel.Login
@using Animal.Web.MediaComponents
@{
	ViewData["title"] = "Login";
}

<div>
	@using (Html.BeginForm("Index", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		@Html.AntiForgeryToken()
		<div>@Html.ValidationMessage("FormValidation")</div>

		@Html.TextInput(m=>m.Name)

		@Html.PasswordInput(m=>m.Password)

		@Html.SubmitButton("Log in")
	}
</div>
