@model ViewModel.User
@using Animal.Web.MediaComponents


@using (Html.BeginForm("AddUser", "User", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = $"formSubmit('{Url.Action("AddUser", "User")}', this, event);" }))
{
	@Html.AntiForgeryToken()
	<div>@Html.ValidationMessage("FormValidation")</div>

	@Html.TextInput(m=>m.Name)

	@Html.EmailInput(m=>m.Email)

	@Html.DateInput(m=>m.DateOfBirth)

	@Html.PasswordInput(m=>m.Password)

	@Html.TextInput(m=>m.roleID)

	@Html.SubmitButton("Submit form")
}
