@using Animal.Web.MediaComponents
@{
	ViewData["title"] = "User";
}

<div>
	@using (Html.BeginForm("DeleteUser", "User", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "formSubmit(this, event);" }))
	{
		@Html.AntiForgeryToken()
		<div>@Html.ValidationMessage("FormValidation")</div>

		@Html.SingleStringInput("id")

		@Html.SubmitButton("Submit form")
	}
</div>

<script>
	function formSubmit(form, event) {
		event.preventDefault();

		$.ajax({
			type: "POST",
			url: '@Url.Action("DeleteUser", "User")',
			data: new FormData(form),
			contentType: false,
			processData: false,
			success: function (data) {
				$("main").html(data);
			},
			error: function (err) {
				console.error(err);
			}
		});
	}
</script>

