@model ViewModel.User
@using Animal.Web.MediaComponents
@{
	ViewData["title"] = "User";
}

<div>
	@using (Html.BeginForm("UpdateUser", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		@Html.AntiForgeryToken()
		<div>@Html.ValidationMessage("FormValidation")</div>

		@Html.TextInput(m=>m.Id)

		@Html.TextInput(m=>m.Name)

		@Html.EmailInput(m=>m.Email)

		@Html.DateInput(m=>m.DateOfBirth)

		@Html.PasswordInput(m=>m.Password)

		@Html.TextInput(m=>m.roleID)

		@Html.SubmitButton("Submit form")
	}
</div>
