@model ViewModel.CategoryType
@using Animal.Web.MediaComponents


@using (Html.BeginForm("AddCategoryType", "CategoryType", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = $"formSubmit('{Url.Action("AddCategoryType", "CategoryType")}', this, event);" }))
{
	@Html.AntiForgeryToken()
	<div>@Html.ValidationMessage("FormValidation")</div>

	@Html.TextInput(m=>m.CategoryName)

	@Html.FileInput(m=>m.files)

	@Html.SubmitButton("Submit form")
}
