@model ViewModel.CategoryType
@using Animal.Web.MediaComponents
@{
	ViewData["title"] = "CategoryType";
}

<div>
	@using (Html.BeginForm("AddCategoryType", "CategoryType", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		@Html.AntiForgeryToken()
		<div>@Html.ValidationMessage("FormValidation")</div>

		@Html.TextInput(m=>m.CategoryName)

		@Html.FileInput(m=>m.files)

		@Html.SubmitButton("Submit form")
	}
</div>