<ul>
	<li class="nav-item h3">
		<a class="text-dark" href="javascript:changeMain('@Url.Action("GetAllCategories", "CategoryType")');">GetAllCategories</a>
	</li>
	<li class="nav-item h3">
		<a class="text-dark" href="javascript:changeMain('@Url.Action("GetCategoryType", "CategoryType", new {id = 0})');">GetCategoryType</a>
	</li>
	<li class="nav-item h3">
		<a class="text-dark" href="javascript:changeMain('@Url.Action("AddCategoryType", "CategoryType")');">AddCategoryType</a>
	</li>
	<li class="nav-item h3">
		<a class="text-dark" href="javascript:changeMain('@Url.Action("UpdateCategoryType", "CategoryType")');">UpdateCategoryType</a>
	</li>
	<li class="nav-item h3">
		<a class="text-dark" href="javascript:changeMain('@Url.Action("DeleteCategoryType", "CategoryType")');">DeleteCategoryType</a>
	</li>
</ul>
