@model viewModel.CategoryType
@{
	ViewData["title"] = "CategoryType";
}

<div>
	@using (Html.BeginForm("UpdateCategoryType", "CategoryType", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		@Html.AntiForgeryToken()
		@Html.ValidationMessage("FormValidation")

		<br />

		<span>Enter ID: </span>
		@Html.TextBoxFor(m => m.Id)

		<br />
		<br />

		<span>Enter CategoryName: </span>
		@Html.TextBoxFor(m => m.CategoryName)

		<br />
		<br />

		@Html.TextBoxFor(m => m.files, new { type = "file" })

		<br />
		<br />

		<input type="submit" value="Submit Form" />
	}
</div>
