@model string[]
@using Animal.Web.MediaComponents


@using (Html.BeginForm("GetFile", "FileUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	@Html.AntiForgeryToken()
	<div>@Html.ValidationMessage("FormValidation")</div>

	<select name="FileName">
		<option disabled selected>Please select an option</option>

		@foreach(string item in Model)
		{
			<option value="@item">@item.Split("\\").Last()</option>
		}
	</select>

	@Html.SubmitButton("Submit form")
}
