@model Entities.Animal
@using Animal.Web.MediaComponents
@{
	ViewData["title"] = "Animal";
}

<div>
	@using (Html.BeginForm("AddAnimal", "Animal", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "formSubmit(this, event);" }))
	{
		@Html.AntiForgeryToken()
		<div>@Html.ValidationMessage("FormValidation")</div>

		@Html.TextInput(m=>m.Name)

		@Html.TextInput(m=>m.age)

		@Html.TextInput(m=>m.CategoryID)

		@Html.SubmitButton("Submit form")
	}
</div>

<script>
	function formSubmit(formData, event) {
		event.preventDefault();
		$.ajax({
			type: "POST",
			url: '@Url.Action("AddAnimal", "Animal")',
			data: new FormData(formData),
			dataType: "json",
			contentType: "application/json; charset=utf-8",
			processData: false,
			success: function (data) {
				$("main").html(data);
			},
			error: function (err) {
				console.error(err);
			}
		});
	}
</script>
