<ul>
	<li class="nav-item h3">
		<a class="nav-link text-dark" href="javascript:changeMain('@Url.Action("GetAllAnimals", "Animal")');">GetAllAnimals</a>
	</li>
	<li class="nav-item h3">
		<a class="nav-link text-dark" href="javascript:changeMain('@Url.Action("GetAnimal", "Animal")');">GetAnimal</a>
	</li>
	<li class="nav-item h3">
		<a class="nav-link text-dark" href="javascript:changeMain('@Url.Action("AddAnimal", "Animal")');">AddAnimal</a>
	</li>
	<li class="nav-item h3">
		<a class="nav-link text-dark" href="javascript:changeMain('@Url.Action("UpdateAnimal", "Animal")');">UpdateAnimal</a>
	</li>
	<li class="nav-item h3">
		<a class="nav-link text-dark" href="javascript:changeMain('@Url.Action("DeleteAnimal", "Animal")');">DeleteAnimal</a>
	</li>
</ul>
