@model Entities.Animal
@{
	ViewData["title"] = "Animal";
}

<div>
	@using (Html.BeginForm("UpdateAnimal", "Animal", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		@Html.AntiForgeryToken()
		@Html.ValidationMessage("FormValidation")

		<br />

		<span>Enter ID: </span>
		@Html.TextBoxFor(m => m.ID)

		<br />
		<br />

		<span>Enter Name: </span>
		@Html.TextBoxFor(m => m.Name)

		<br />
		<br />

		<span>Enter Age: </span>
		@Html.TextBoxFor(m => m.age)

		<br />
		<br />

		<span>Enter CategoryID: </span>
		@Html.TextBoxFor(m => m.CategoryID)

		<br />
		<br />

		<input type="submit" value="Submit Form" />
	}
</div>
