@model ViewModel.Animal
@using Animal.Web.MediaComponents


@using (Html.BeginForm("UpdateAnimal", "Animal", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = $"formSubmit('{Url.Action("UpdateAnimal", "Animal")}', this, event);" }))
{
	@Html.AntiForgeryToken()
	<div>@Html.ValidationMessage("FormValidation")</div>

	@Html.TextInput(m=>m.ID)

	@Html.TextInput(m=>m.Name)

	@Html.TextInput(m=>m.age)

	@Html.TextInput(m=>m.CategoryID)

	@Html.SubmitButton("Submit form")
}
