@model Entities.Animal
@using Animal.Web.MediaComponents
@{
	ViewData["title"] = "Animal";
}

<div>
	@using (Html.BeginForm("UpdateAnimal", "Animal", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		@Html.AntiForgeryToken()
		<div>@Html.ValidationMessage("FormValidation")</div>

		@Html.TextInput(m=>m.ID)

		@Html.TextInput(m=>m.Name)

		@Html.TextInput(m=>m.age)

		@Html.TextInput(m=>m.CategoryID)

		@Html.SubmitButton("Submit form")
	}
</div>
