<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Animal Project</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Animal.Web.styles.css" asp-append-version="true" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container-fluid">
				<a class="navbar-brand" href="javascript:changeMain('@Url.Action("Index", "Home")');">Animal.Web</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link text-dark text-underline-hover" href="javascript:changeMain('@Url.Action("Index", "Home")');">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" href="javascript:changeMain('@Url.Action("Privacy", "Home")');">Privacy</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" href="javascript:changeMain('@Url.Action("Index", "Animal")');">Animal</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" href="javascript:changeMain('@Url.Action("Index", "CategoryType")');">categoryType</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" href="javascript:changeMain('@Url.Action("Index", "User")');">User</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" href="javascript:changeMain('@Url.Action("Index", "FileUpload")');">FileUpload</a>
						</li>
					</ul>

					@if (User.Identity.IsAuthenticated)
					{
						<a class="nav-link text-dark float-end" asp-controller="Login" asp-action="Logout">Logout</a>
						<a class="nav-link text-dark float-end" href="javascript:changeMain('@Url.Action("GetCurrentUser", "User")');">User Details</a>
					}
					else
					{
						<a class="nav-link text-dark float-end" href="javascript:changeMain('@Url.Action("Index", "Login")');">Login</a>
					}
				</div>
			</div>
		</nav>
	</header>

	<div class="container">
		<button class="border-0 rounded position-absolute d-flex m-0" style="background-color: #f2f2f2; padding: 10px 15px;" onclick="history.back();">
			<span style="border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-right: 8px solid;"></span>
		</button>
		<main role="main" class="px-5">
			<div id="level1">
				@RenderBody()
			</div>
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2023 - Animal.Web - <a asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script type='text/javascript'>
		let divNum = 1;

		function changeMain(url) {
			if (url === window.location.pathname) {
				return;
			}

			history.pushState({ url, divNum }, null, url, divNum);
			ajaxCall(url);
		}

		window.addEventListener('popstate', function (event) {
			if (event.state) {
				if(divNum > event.state.divNum+1){
					ajaxBackCall();
				}else{
					const url = event.state.url;
					ajaxCall(url);
				}
			} else {
				ajaxBackCall();
			}
		});

		function ajaxBackCall() {
			$(`#level${divNum}`).remove();
			divNum--;
			$(`#level${divNum}`).removeAttr(`hidden`);
		}

		function ajaxCall(url){
			$.ajax({
				url: url,
				method: "GET",
				contentType: null,
				dataType: "html",
				success: (data) => {
					$(`#level${divNum}`).attr("hidden", "hidden")
					divNum++;
					$(`main`).append(`<div id="level${divNum}">${data}</div>`)
				},
				error: (err) => {
					console.error(err);
				}
			});
		}
	</script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
